<style>
  .title-name {
    font-family: 'Caveat', cursive;
    font-size: 1.8rem;
    color: #f398c0;
    font-weight: bold;
  }

  .post-title {
    color: #f398c0 !important;
  }

  .post-title:hover {
    color: #f180b1 !important;
  }

  .footer-title {
    display: inline-block;
    position: relative;
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 1rem
  }

  .footer-title::before {
    content: "";
    position: absolute;
    left: 49%;
    bottom: 1%;
    width: 105%;
    height: 3px;
    transform: skew(-12deg) translateX(-50%) rotate(-2deg);
    background: #fda6c1a5;
    z-index: -1;
  }

  .post-title:hover::before {
    background: #fda6c1f0;
  }
</style>
